{% from 'bootstrap/nav.html' import render_nav_item %}
<!DOCTYPE html>
<html lang="en">
<head>
	{% block head %}
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>账号管理系统</title>
		<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/lanrenzhijia.css') }}" type="text/css">
		<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
		<script>
				//var loginFlag = false;
				//var loginHelper = null;
				$(document).ready(function(){
					$('.carousel').carousel(
						{
							"pause":"false",
							"interval":20000
						}
					);
					
					$('.carousel').on('slide.bs.carousel', function (event) {
						var tag = $(event.relatedTarget).attr("tag");
						var progress = $(event.relatedTarget).attr("progress");
						
						$('#img_home').attr("src", "{{ url_for('static', filename='images/home.png') }}");
						$('#img_intro').attr("src", "{{ url_for('static', filename='images/intro.png') }}");
						$('#img_gift').attr("src", "{{ url_for('static', filename='images/gift.png') }}");
						$('#img_feedback').attr("src", "{{ url_for('static', filename='images/feedback.png') }}");
						$('#img_related').attr("src", "{{ url_for('static', filename='images/related.png') }}");
						
						$('#img_' + tag).attr("src", "./static/images/" + tag + "_selected.png");
						// $('#img_' + tag).attr("src", "{{ url_for('static', filename='images/' + '{{ tag }}' + '_selected.png') }}");
						
						//$("#progress").width(progress + "px");
						//$("#progress").css('left', (progress / 2) - 400 + "px");	
						$("#progress").animate({width: progress, left: (progress / 2) - 400}, 500);
						playAnimation(tag);
					});
					
					$("body,html").animate({
		               scrollTop:($("#lanrenzhijia_home .splash-container").offset().top)
		            },10);
					
					playAnimation("home");
					
				}); 
				
				function switchlanrenzhijia(lanrenzhijiaIndex){
					$('.carousel').carousel(lanrenzhijiaIndex);
				}
				
				function playAnimation(tag){
					var ani1 = $("#lanrenzhijia_" + tag + " .ani_step_1");
					var ani2 = $("#lanrenzhijia_" + tag + " .ani_step_2");
					var ani3 = $("#lanrenzhijia_" + tag + " .ani_step_3");
					var pre_start = ((tag == "home") ? 0 : 300);
					if(ani1 != null){
						ani1.css("opacity", 0);
						setTimeout(function(){
							ani1.animate({opacity: 1}, 1000);
						}, 10 + pre_start);
					}
					if(ani2 != null){
						ani2.css("opacity", 0);
						setTimeout(function(){
							ani2.animate({opacity: 1}, 1000);
						}, 1500 + pre_start);
					}
					if(ani3 != null){
						ani3.css("opacity", 0);
						setTimeout(function(){
							$("#lanrenzhijia_" + tag + " .ani_step_3").animate({opacity: 1}, 1000);
						}, 3000 + pre_start);
					}
				}
			</script>
	{% endblock head %}
</head>

<body>

{% block content %}

{% endblock %}

{% block footer %}

{% endblock footer %}
</body>
</html>