[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
faker = "*"
watchdog = "*"

[packages]
flask = "*"
python-dotenv = "*"
bootstrap-flask = "*"
flask-wtf = "*"
flask-login = "*"
flask-mail = "*"
flask-migrate = "*"

[requires]
python_version = "3.7"
