{% from 'bootstrap/form.html' import render_form %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" href="{{ url_for('static', filename='dashboard/css/main.css') }}" type="text/css">

    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login - Dingtalk2Ldap</title>
  </head>
  <body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>Dingtalk2Ldap</h1>
      </div>
      <div class="login-box">
          <div class="container h-100">
            <div class="row h-100 page-header justify-content-center align-items-center">
                <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
            </div>
            <div class="form-group row h-100 justify-content-center align-items-center">
                {{ render_form(form, extra_classes='col-6') }}
            </div>
          </div>
<!--         <form class="login-form" action="{{ url_for('dashboard.dashboard') }}">
          <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>SIGN IN</h3>
          <div class="form-group">
            <label class="control-label">USERNAME</label>
            <input class="form-control" type="text" placeholder="Email" autofocus>
          </div>
          <div class="form-group">
            <label class="control-label">PASSWORD</label>
            <input class="form-control" type="password" placeholder="Password">
          </div>
          <div class="form-group">
            <div class="utility">
              <div class="animated-checkbox">
                <label>
                  <input type="checkbox"><span class="label-text">Stay Signed in</span>
                </label>
              </div>
              <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Forgot Password ?</a></p>
            </div>
          </div>
          <div class="form-group btn-container">
            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
          </div>
        </form> -->
      </div>
    </section>
    {% for message in get_flashed_messages(with_categories=True) %}
        <div class="alert alert-{{ message[0] }}" role="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message[1] }}
        </div>
    {% endfor %}

    <!-- Essential javascripts for application to work-->
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/jquery-3.2.1.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/popper.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/bootstrap.min.js') }}"></script>

    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/main.js') }}"></script>

    <!-- The javascript plugin to display page loading on top-->
    <script type="text/javascript" src="{{ url_for('static', filename='dashboard/js/plugins/pace.min.js') }}"></script>

    <script type="text/javascript">
      // Login Page Flipbox control
      $('.login-content [data-toggle="flip"]').click(function() {
        $('.login-box').toggleClass('flipped');
        return false;
      });
    </script>
  </body>
</html>