/* 代码整理：懒人之家 www.lanrenzhijiazhijia.com */
* {
	margin:0;
	padding:0;
	list-style:none;
}
*, h2, h3 {
	font-family: 微软雅黑;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
.container {
	margin: 0 auto;
}
.horizental-item {
	float: left;
}
html {
	height: 100%;
}
body {
	height: 100%;
}
#pass-phoenix-list-login {
	width:224px;
}
.pass-login-pop-img, .pass-login-pop-img img {
	height: 362px !important;
}
#ad {
	width: 100%;
	height: 0;
}
.full_height {
	height: 100%;
	min-height: 850px;
}
.lanrenzhijia {
	height: 100%;
}
#lanrenzhijia_home {
	background-color: rgb(227, 118, 31);
}
#main {
	height: 100%;
}
#lanrenzhijia_home #main {
	background:url('../images/bg_main.jpg') no-repeat top center;
}
#splash {
	min-width: 960px;
	height: 100%;
}
.splash-container {
	top:120px;
	text-align: center;
	position: relative;
}
.qrcode {
	margin-top: 5px;
	height: 90px;
	width: 90px;
}
#qrcode_hint {
	font-size: 14px;
	color: rgba(255, 255, 255, 0.5);
	margin-left: 2px;
	margin-top: 5px;
}
.download-button {
	display: block;
	text-align: center;
	cursor: pointer;
}
#download_icon {
	width: 31px;
	height: 31px;
	background:url('../images/download-icon.png') no-repeat;
	margin-top: 5px;
	display: inline-block;
	position: relative;
	top: 5px;
}
.download-button:hover #download_icon {
}
#splash_introduction {
	text-align: center;
	font-size: 20px;
	line-height: 31px;
	color: rgb(255, 255, 255);
}
#splash_download_qrcode {
	left: 10px;
	position: relative;
	height: 110px;
	width: 200px;
	z-index: 0;
	text-align: left;
}
#lanrenzhijia_home #splash_introduction {
	margin-top: 25px;
	text-shadow: 2px 2px 2px rgb(235, 125, 39);
}
#lanrenzhijia_home #download_btn_group {
	margin: 0 auto;
	margin-top: 60px;
	width: 760px;
}
#lanrenzhijia_home #splash_download_button {
	position: relative;
	z-index: 1;
}
#lanrenzhijia_home #download_place_holder {
	width: 200px;
	height: 1px;
}
#lanrenzhijia_home .download-button {
	width: 320px;
	height: 100px;
}
#lanrenzhijia_home .download-button:hover .download-title {
	background-color: rgb(255, 216, 185);
}
#lanrenzhijia_home .download-button:hover .download-subtitle {
	background-color: rgb(255, 216, 185);
}
#lanrenzhijia_home .download-button .download-title {
	background-color: rgb(255, 255, 255);
	padding-top: 10px;
	font-size: 28px;
	line-height: 74px;
	font-weight: bold;
	color: rgb(72, 83, 66);
	border-radius: 2px 2px 0 0;
}
#lanrenzhijia_home .download-button .download-subtitle {
	border:0px;
	border-top: 1px rgb(226, 117, 33);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	font-size: 11px;
	line-height: 31px;
	color: rgb(196, 110, 28);
	border-radius: 0 0 2px 2px;
}
#lanrenzhijia_home #ct_link {
	margin-top: 30px;
	color: white;
}
#lanrenzhijia_home a {
	color: rgb(255, 246, 0);
}
.footer {
	position: absolute;
	top: 650px;
	text-align: center;
	width: 100%;
	height: 120px;
}
#dash {
	margin: 0 auto;
	height: 2px;
	width: 800px;
	background: url('../images/dot.png');
	position: relative;
	top: 25px;
}
#progress {
	margin: 0 auto;
	height: 2px;
	width: 150px;
	left: -325px;
	background: white;
	position: relative;
	top: 23px;
}
#navbtns {
	width: 800px;
	position: relative;
	z-index: 1;
}
.navbtn {
	width: 100px;
	float: left;
	margin-left: 25px;
	margin-right: 25px;
	text-align: center;
	display: inline-block;
	line-height: 50px;
	color: white;
}
.navbtn a:hover {
	color: white;
}
.navbtn img {
	width: 50px;
}
#lanrenzhijia_intro {
	background-color: rgb(232, 227, 22);
}
#lanrenzhijia_gift {
	background-color: rgb(33, 166, 210);
}
#lanrenzhijia_gift #splash_introduction {
	margin-top: 100px;
}
#lanrenzhijia_gift #splash_download_button {
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}
#lanrenzhijia_gift .download-button {
	width: 260px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px 2px 2px 2px;
}
#lanrenzhijia_gift .download-button .download-title {
	margin: 0 auto;
	padding-top: 15px;
	font-size: 20px;
	color: rgb(33, 166, 210);
}
#lanrenzhijia_gift .download-button:hover {
	background-color: rgb(207, 243, 255);
}
#lanrenzhijia_feedback {
	background-color: rgb(134, 196, 87);
}
#lanrenzhijia_feedback #splash_introduction {
	margin-top: 100px;
}
#lanrenzhijia_feedback #splash_download_button {
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
	z-index: 1;
}
#lanrenzhijia_feedback .download-button {
	width: 260px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px 2px 2px 2px;
}
#lanrenzhijia_feedback .download-button:hover {
	background-color: rgb(229, 255, 208);
}
#lanrenzhijia_feedback .download-button .download-title {
	margin: 0 auto;
	padding-top: 15px;
	font-size: 20px;
	color: rgb(85, 146, 39);
}
#lanrenzhijia_related {
	background-color: rgb(211, 59, 68);
}
#lanrenzhijia_related #main {
	background:url('../images/bg_related.jpg') no-repeat top center;
}
#lanrenzhijia_related .splash-container {
	width: 900px;
	position: relative;
}
#lanrenzhijia_related .download-button {
	width: 260px;
	height: 60px;
	background-color: rgb(255, 255, 255);
	border-radius: 2px 2px 2px 2px;
}
#lanrenzhijia_related .download-button .download-title {
	margin: 0 auto;
	padding-top: 20px;
	font-size: 20px;
	color: rgb(134, 196, 87);
}
#lanrenzhijia_related #related_demo {
}
#lanrenzhijia_related #splash_introduction {
	margin-top: 100px;

}
#lanrenzhijia_related #splash_introduction .container {
	padding-left: 0px;
	margin-bottom: 30px;
}
#lanrenzhijia_related #splash_introduction h3 {
	margin-left: 10px;
}
#lanrenzhijia_related #download_btn_group {
	margin-top: 30px;
}
#lanrenzhijia_related #splash_download_button {
	position: relative;
	z-index: 1;
}
#lanrenzhijia_related .download-button {
	width: 320px;
	height: 100px;
}
#lanrenzhijia_related .download-button:hover {
}
#lanrenzhijia_related .download-button:active {
}
#lanrenzhijia_related .download-button:hover .download-title {
	background-color: rgb(243, 218, 221);
}
#lanrenzhijia_related .download-button:hover .download-subtitle {
	background-color: rgb(243, 218, 221);
}
#lanrenzhijia_related .download-button .download-title {
	background-color: rgb(255, 255, 255);
	padding-top: 10px;
	font-size: 28px;
	line-height: 74px;
	font-weight: bold;
	color: rgb(72, 83, 66);
	border-radius: 2px 2px 0 0;
}
#lanrenzhijia_related .download-button .download-subtitle {
	border:0px;
	border-top: 1px rgb(211, 59, 68);
	border-style: solid;
	background-color: rgb(255, 255, 255);
	font-size: 11px;
	line-height: 31px;
	color: rgb(211, 59, 68);
	border-radius: 0 0 2px 2px;
}
#lanrenzhijia_related a {
	color: rgb(255, 245, 139);
}
#declaration {
	margin-top:50px;
	color: rgba(255, 255, 255, 0.5);
}
.carousel {
	position:relative
}
.carousel-inner {
	position:relative;
	width:100%;
	overflow:hidden
}
.carousel-inner>.item {
	position:relative;
	display:none;
-webkit-transition:.6s ease-in-out left;
transition:.6s ease-in-out left
}
.carousel-inner>.item>img, .carousel-inner>.item>a>img {
	display:block;
	height:auto;
	max-width:100%;
	line-height:1
}
.carousel-inner>.active, .carousel-inner>.next, .carousel-inner>.prev {
	display:block
}
.carousel-inner>.active {
	left:0
}
.carousel-inner>.next, .carousel-inner>.prev {
	position:absolute;
	top:0;
	width:100%
}
.carousel-inner>.next {
	left:100%
}
.carousel-inner>.prev {
	left:-100%
}
.carousel-inner>.next.left, .carousel-inner>.prev.right {
	left:0
}
.carousel-inner>.active.left {
	left:-100%
}
.carousel-inner>.active.right {
	left:100%
}
.carousel-control {
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	width:15%;
	font-size:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6);
	opacity:.5;
	filter:alpha(opacity=50)
}
.carousel-control.left {
	background-image:-webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1)
}
.carousel-control.right {
	right:0;
	left:auto;
	background-image:-webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
	background-image:linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
	background-repeat:repeat-x;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1)
}
.carousel-control:hover, .carousel-control:focus {
	color:#fff;
	text-decoration:none;
	outline:0;
	opacity:.9;
	filter:alpha(opacity=90)
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	position:absolute;
	top:50%;
	z-index:5;
	display:inline-block
}
.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
	left:50%
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
	right:50%
}
.carousel-control .icon-prev, .carousel-control .icon-next {
	width:20px;
	height:20px;
	margin-top:-10px;
	margin-left:-10px;
	font-family:serif
}
.carousel-control .icon-prev:before {
	content:'\2039'
}
.carousel-control .icon-next:before {
	content:'\203a'
}
.carousel-indicators {
	position:absolute;
	bottom:10px;
	left:50%;
	z-index:15;
	width:60%;
	padding-left:0;
	margin-left:-30%;
	text-align:center;
	list-style:none
}
.carousel-indicators li {
	display:inline-block;
	width:10px;
	height:10px;
	margin:1px;
	text-indent:-999px;
	cursor:pointer;
	background-color:#000 \9;
	background-color:rgba(0, 0, 0, 0);
	border:1px solid #fff;
	border-radius:10px
}
.carousel-indicators .active {
	width:12px;
	height:12px;
	margin:0;
	background-color:#fff
}
.carousel-caption {
	position:absolute;
	right:15%;
	bottom:20px;
	left:15%;
	z-index:10;
	padding-top:20px;
	padding-bottom:20px;
	color:#fff;
	text-align:center;
	text-shadow:0 1px 2px rgba(0, 0, 0, 0.6)
}
.carousel-caption .btn {
	text-shadow:none
}
@media screen and (min-width:768px) {
.carousel-control .glyphicons-chevron-left, .carousel-control .glyphicons-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
width:30px;
height:30px;
margin-top:-15px;
margin-left:-15px;
font-size:30px
}
.carousel-caption {
right:20%;
left:20%;
padding-bottom:30px
}
.carousel-indicators {
bottom:20px
}
}
.clearfix:before, .clearfix:after {
	display:table;
	content:" "
}
.clearfix:after {
	clear:both
}
.center-block {
	display:block;
	margin-right:auto;
	margin-left:auto
}
/* 代码整理：懒人之家 www.lanrenzhijiazhijia.com */